 /* Main css file for theme plugin support */

.wk-wc-switch-field input {
    position: absolute !important;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    width: 1px;
    border: 0;
    overflow: hidden;
}
.wk-wc-switch-field label {
  float: right;
}
.wk-wc-switch-field label {
  display: inline-block;
  width: 60px;
  background-color: #e4e4e4;
  color: rgba(0, 0, 0, 0.6);
  font-size: 15px;
  text-align: center;
  padding: 6px 14px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition:    all 0.3s ease-in-out;
  -ms-transition:     all 0.3s ease-in-out;
  -o-transition:      all 0.3s ease-in-out;
  transition:         all 0.3s ease-in-out;
}
.wk-wc-switch-field label:hover {
    cursor: pointer;
}
.wk-wc-switch-field .switch_left:checked + label {
  background-color: #A5DC86;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.wk-wc-switch-field .switch_right:checked + label {
  background-color: #ff7373;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.wk-wc-switch-field label:first-of-type {
  border-radius: 4px 0 0 4px;
}
.wk-wc-switch-field label:last-of-type {
  border-radius: 0 4px 4px 0;
}
.wk-wc-error{
      color: red !important;
}
.wk-wc-woocommerce-fb-messenger-setting{
    border-spacing: 5px 30px;
}
.wk-wc-woocommerce-fb-messenger-setting th{
    text-align: left;
    font-size: 15px;
}
.wk-wc-woocommerce-fb-messenger-setting td input{
    width: 60% !important;
}
.wk-wc-tooltip-text {
  position: relative;
  display: inline-block;
}
div.promptFooterContainer {
  padding: 0px !important;
}
.wk-wc-right .fb_dialog.fb_dialog_advanced{
  right:18pt!important;
}
.wk-wc-right iframe.fb_customer_chat_bounce_in_v2 {
right: 9pt!important;
}
.wk-wc-right iframe.fb_customer_chat_bounce_out_v2 {
right: 9pt!important;
}
.wk-wc-left .fb_dialog.fb_dialog_advanced{
left:18pt!important;
}
.wk-wc-left iframe.fb_customer_chat_bounce_in_v2 {
left: 9pt!important;
}
.wk-wc-left iframe.fb_customer_chat_bounce_out_v2 {
left: 9pt!important;
}
@media only screen and (max-width: 600px) {
  div.fb_customer_chat_bubble_animated_no_badge {
    bottom: 56pt !important;
  }
}

/* custom tooltip */
/* Base style for the tooltip icon */
.wk-custom-tooltip {
    display: inline-block;
    width: 20px; /* Adjust width as needed */
    height: 20px; /* Adjust height as needed */
    background-color: #ccc;
    color: #fff;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
}
/* Tooltip content */
.wk-custom-tooltip::before {
    content: attr(data-tooltip);
    position: absolute;
    top: calc(100% + 10px); /* Spacing between tooltip and icon */
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: #fff;
    padding: 12px; /* Adjust padding as needed */
    border-radius: 10px;
    white-space: normal;
    max-width: 400px; /* Adjust max-width as needed */
    min-width: 160px; /* Minimum width to show at least 4 words */
    word-wrap: break-word; /* Allow word wrapping */
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s, transform 0.2s;
}
/* Show tooltip on hover */
.wk-custom-tooltip:hover::before {
    opacity: 1;
    visibility: visible;
    transform: translateX(-50%) translateY(-10px); /* Adjust to avoid overlapping the tooltip with the icon */
    cursor: help; /* Change cursor icon to "help" on hover */
}
.wc_fms_flex {
    display: flex;
    gap: 5px;
}
.wk-custom-extra{
    width: 60% !important;
}
